# Forteaza fisierele C++ sa fie C++
*.cpp linguist-language=C++
*.h linguist-language=C++
*.hpp linguist-language=C++

# Pastreaza CMake in statistici
CMakeLists.txt linguist-language=CMake
*.cmake linguist-language=CMake

# Ignora tot ce nu este codul tau sursa
.github/** linguist-detectable=false
build/** linguist-detectable=false
scripts/** linguist-detectable=false
*.txt linguist-detectable=false
*.md linguist-detectable=false
*.json linguist-detectable=false
.gitignore linguist-detectable=false
.gitattributes linguist-detectable=false