# Ensure source code files are treated as text and normalized (LF)
*.cpp text eol=lf
*.h   text eol=lf
CMakeLists.txt text eol=lf
*.txt text eol=lf
*.cmake linguist-detectable=false
CMakeLists.txt linguist-detectable=false
.github/** linguist-detectable=false
*.yml linguist-detectable=false
