*.cpp linguist-language=C++
*.h linguist-language=C++
*.cmake linguist-detectable=false
CMakeLists.txt linguist-detectable=false
.github/** linguist-detectable=false
*.yml linguist-detectable=false
build/** linguist-detectable=false
*.txt linguist-detectable=false
